.mainAreaNodeAndZon
  border: 1px solid
  padding: 5px
  margin: 10px
  height: 700px
  width: 1139px
  position: relative

.node
  position: absolute
  width: 25px
  height: 25px
  border-radius: 180px
  background-color: #3ca0e7
  margin: 0
  display: flex
  text-align: center
  align-items: center
  justify-content: center

.numNode
  position: absolute
  top: 25px
.checkboxAndButton
  position: absolute
  bottom: 0
  right: 0
  margin: 5px
.checkboxAndButton>p
  margin: 2px
