.main
  position: absolute
  background-color: rgba(60, 160, 231, 0.56)
.main>div
  margin: 0
  background-color: rgba(0, 0, 0, 0.49)
  position: absolute
.topZon
  cursor: ns-resize
  width: 100%
  height: 2px
  top: 0

.bottomZon
  cursor: ns-resize
  width: 100%
  height: 2px
  bottom: 0

.leftZon
  cursor: ew-resize
  height: 100%
  width: 2px
  left: 0

.rightZon
  cursor: ew-resize
  height: 100%
  width: 2px
  right: 0