.fon
  position: relative
  display: flex
  flex-direction: column
  justify-content: space-evenly
  height: 200px
  background-color: rgba(197, 197, 197, 0.78)
  border-radius: 20px
  backdrop-filter: blur(5px)
  z-index: 3

.img
  position: absolute
  top: 0
  left: 50%
  width: 100vw
  margin-left: -50vw
  height: 100vh
  overflow: hidden
.img::before
  position: absolute
  content: ''
  top: 0
  left: 0
  bottom: 0
  right: 0
  background: url("../img/uborka-sklada-form2.jpg")
  background-size: 100%


.main
  position: relative
  //overflow-x: hidden
  //overflow-y: scroll

.div_main
  display: flex
  z-index: 999

body *
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif

select:hover
  color: #3ca0e7
  cursor: pointer

.autorisation
  margin: auto

