.fon
  position: relative
  display: flex
  flex-direction: column
  justify-content: space-evenly
  height: 200px
  background-color: rgba(197, 197, 197, 0.78)
  border-radius: 20px
  backdrop-filter: blur(5px)
  z-index: 3
.imgContainer
  position: absolute
  //width: 100vw
  //height: 100vh
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 1
  overflow: hidden
.img
  //width: 100%
  //height: 100%
  //position: relative
  position: relative
  top: 0
  left: 0
  bottom: 0
  right: 0
  //min-width: 100vw
  height: 100vh
  //width: 100vw
  object-fit: cover


.main
  //overflow-x: hidden

.div_main
  display: flex
  z-index: 999

body *
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif

select:hover
  color: #3ca0e7
  cursor: pointer

.autorisation
  margin: auto

